/**
 * Vendor styles go here
 **/

 @import '~bootstrap/dist/css/bootstrap.css';

/**
 * Global styles go here
 **/
 body {
   background: #e5e5e5;
   color: #fff;
   margin: 0px;
 }

 a {
   color: #090909;
   text-decoration: none;
   &:hover {
     text-decoration: none;
   }
 }

 h1 {
   font-size: 26px;
   font-weight: 600;
   line-height: 30px;
   letter-spacing: 1.5px;
   padding-top: 32px;
   text-transform: uppercase;
 }

 h4 {
   color: rgba(9, 9, 9, 0.6);
   font-size: 16px;
   font-weight: 600;
   line-height: 20px;
   letter-spacing: 0.5px;
   margin-bottom: 24px;
   text-align: left;
 }

 li {
   border: 1px solid #090909;
   box-sizing: border-box;
   border-radius: 4px;
   font-size: 22px;
   line-height: 28px;
   letter-spacing: 1px;
   list-style: none;
   margin-bottom: 16px;
   overflow: hidden;
   padding: 15px 24px;
   text-decoration: none;
   text-align: left;
   text-overflow: ellipsis;
   white-space: nowrap;
   span {
     width: calc(100% - 24px);
   }
   &:hover {
     color: #f0b323;
     background-color: #090909;
     .cart {
       filter: invert(0.5) sepia(0.8) saturate(8); // #f0b323;
     }
   }
 }

 @media screen and (max-width: 768px) {
   img {
     width: 80%;
   }
   a > li > span > img {
     width: 24px;
   }
 }

 header {
   position: relative;
   text-align: center;
   img {
     @media screen and (max-width: 768px) {
       width: 80%;
     }
   }
 }
 .arrow {
   display: inline-block;
   position: relative;
   top: -560px;
   @media screen and (max-width: 768px) {
     display: none;
   }
 }
 .header-bg {
   background: linear-gradient(159.41deg, #FF009D 3.42%, #F5B324 96.5%);
   height: 560px;
   transform: skewY(-3deg);
   transform-origin: bottom left;
   @media screen and (max-width: 768px) {
     height: 400px;
   }
 }

 main {
   padding: 1em;
   font-family: futura-pt, sans-serif;
   font-weight: 700;
   font-style: normal;
   text-align: center;
   margin-top: 50px;
   display: block;
   position: relative;
   top: -616px;
   @media screen and (max-width: 768px) {
     top: -500px;
   }
   @media screen and (max-width: 508px) {
     top: -550px;
   }
 }

button {
  color: #090909;
  width: 176px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  float: left;
  margin-right: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

ul {
  padding-left: 0px;
}

.cart {
  float: right;
}

.movie-card {
  background-color: #fff;
  color: #090909;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  margin: 0 auto;
  box-shadow: 0px 1px 5px rgba(24, 17, 3, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(24, 17, 3, 0.14);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  height: 722px;
  width: 752px;
  @media screen and (max-width: 768px) {
    width: 95%;
  }
}

.section {
  padding: 32px 96px;
  @media screen and (max-width: 768px) {
    padding: 32px;
  }
}

.selected {
  color: #090909;
}
